html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #E5E5E5;

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--white: white;
	--primary: #6849DF;
	--primary-hover: #6246D3;
	--red: #DE0000;
	--green: #127A4F;
	--green-ligth: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
	--gray-ligth: #EBEBEB;
	--gray-dark: #62666C;
	--gray: #A4A4A4;
}
